body {
  margin: 0 auto;
  max-width: 500px;
  padding: 40px;
  font-size: 20px;
  Font-Family: 'Source Sans Pro', Sans-Serif;
}

h2 {
  margin-bottom: -20px;
  Font-Family: 'Playfair Display', Serif;
}
